@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto+Mono:wght@600;700&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
    font-family: "Courier Prime";
    font-weight: 700;
    background-color: rgba(27, 21, 21, 0.5);
    backdrop-filter: blur(50px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ea8344;
    transition: 0.3s;
}

